.sign-in-to-google-account-button{
	background-image: url(images/google-icon.png);
	background-position: left;
	background-repeat: no-repeat;
	width: 240px;
	height: 38px;
	border-radius: 5px;
    background: #FFFFFF;
	color: #696969;
	font-weight: bold;
}